<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="description" content="Tobi Akerele currently attends Purdue University in West Lafayette, IN. Some of the things he likes to
              do in his spare time are take on side projects in the real world, attend hackathons and play basketball. He is
              always striving to add to his knowledge of technology both by trying new things and improving on his existing
              knowledge. You can't ever stop learning!">
  <meta name="author" content="Tobi Akerele">
  <meta name="robots" content="noodp" />
  <title>Tobi Akerele</title>
  <link rel="shortcut icon" href="img/favicon.ico" />

  <!-- Google Fonts  -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>

  <!-- Body font -->
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400'
    rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Navbar font -->
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/bootstrap.min.css" rel="stylesheet">

  <!-- Plugin CSS -->
  <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="vendor/owl.carousel/owl.carousel.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <!-- inject:css -->
  <link href="css/style.min.css" rel="stylesheet">
  <!-- endinject -->

</head>

<body id="page-top">
  <!-- Navigation -->
  <nav id="mainNav" class="navbar navbar-expand-lg fixed-top">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="img/logo.png"></a>
      <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="index.html">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="portfolio.html">Portfolio</a></li>
          <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
          <!--<li class="nav-item"><button class="btn btn-default" onclick="window.open('https://cash.me/$tobidae','_blank');ga('send', 'event', 'Payment', 'click', 'Payment with Square');">PayME&trade;</button></li>-->
        </ul>
      </div>
    </div>
  </nav>
  <!-- Header -->
  <header id="portfolio-header">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">My Work in Software and Hardware</div>
        <div class="intro-heading">My Portfolio</div>
      </div>
    </div>
  </header>

  <section id="portfolio" class="">
    <div class="container">
      <!--Bank Tx Exporter-->
      <div class="portfolio-card row mb-5">
        <div class="col-md-7 col-sm-12">
          <h4 class="title"><strong class="text-uppercase">Bank Transaction Exporter</strong>&nbsp;<span class="d-inline-block"></span></h4>
          <p>
            <span class="badge badge-primary badge-pill">Angular</span>
            <span class="badge badge-primary badge-pill">Node.js</span>
            <span class="badge badge-primary badge-pill">Firebase</span>
            <span class="badge badge-primary badge-pill">Heroku</span>
          </p>
          <p class="period text-muted">August to October 2018</small>
            <p class="description">This is a tool that exports transactions from a user's bank account. The user enters
              their bank credentials in Plaid, a secure banking API. The API sends data to the client page and the tool
              manipulates the data either by filtering, sorting or limiting the range of transactions.
              <br>
              <br>
              The frontend is built with Angular and it is hosted on heroku. The backend was built with NodeJS and
              there is not storage
              of bank data except the Google Sheets ID to export transactions to.
              <br>
              <br>
              It is still a WIP but it's a fun little project I thought I would work on because there was no real
              (easy)
              way for me to export and utilize my banking data.</p>
            <p class="links"></p>
        </div>
        <div class="col-md-5 col-sm-12">
          <div class="owl-carousel owl-theme">
            <img class="item" style="height: 300px" src="img/portfolio/project-screen/bank-me/01.png">
            <img class="item" style="height: 300px" src="img/portfolio/project-screen/bank-me/02.png">
            <img class="item" style="height: 300px" src="img/portfolio/project-screen/bank-me/03.png">
            <img class="item" style="height: 300px" src="img/portfolio/project-screen/bank-me/04.png">
            <img class="item" style="height: 300px" src="img/portfolio/project-screen/bank-me/05.png">
          </div>
        </div>
      </div>
      <!--Captivated Web Widget-->
      <div class="portfolio-card row mb-5">
        <div class="col-md-7 col-sm-12">
          <h4 class="title"><strong class="text-uppercase">Captivated Web Widget</strong>&nbsp;<span class="d-inline-block"></span></h4>
          <p>
            <span class="badge badge-primary badge-pill">JavaScript</span>
            <span class="badge badge-primary badge-pill">GlimmerJS</span>
            <span class="badge badge-primary badge-pill">EmberJS</span>
            <span class="badge badge-primary badge-pill">CircleCI</span>
          </p>
          <p class="period text-muted">May 2017 to December 2017</small>
            <p class="description">During my time at Captivated, I was tasked with creating a widget that would allow
              visitors to interact with a representative of the website they were visiting. The
              money shot was adding an offline capability that allowed the leads to find the appropriate information
              they need. The app is designed with the idea that all employees in a company can jump in or out of a
              conversation with ease while on the customer's end, they only see the relevant information that's needed.
              
              <br>
              <br>
              Along with the web widget, I worked on improving the Captivated Suite for the business users by fixing known bugs and adding
              features like
              a location tracking service that pings a user's location using the inbuilt navigation api in a browser.</p>
            <p class="links"></p>
        </div>
        <div class="col-md-5 col-sm-12">
          <div class="owl-carousel owl-theme">
            <img class="item" style="height: 300px" src="img/portfolio/project-screen/captivated/01.png">
            <img class="item" style="height: 300px" src="img/portfolio/project-screen/captivated/02.png">
            <img class="item" style="height: 300px" src="img/portfolio/project-screen/captivated/03.png">
            <img class="item" style="height: 300px" src="img/portfolio/project-screen/captivated/04.png">
            <img class="item" style="height: 300px" src="img/portfolio/project-screen/captivated/05.png">
          </div>
        </div>
      </div>
      <!-- Feed Importer-->
    </div>
  </section>

  <!-- Portfolio Modal 4 -->
  <div class="portfolio-modal modal fade" ng-repeat="project in projects" id="project-{{project.id}}" tabindex="-1"
    role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="modal-body">
                <h2>{{project.title}}</h2>
                <p class="item-intro text-muted">{{project.subtitle}}</p>
                <div class="owl-carousel owl-theme" ng-if="project.screenShots.length > 0">
                  <img ng-repeat="screenshot in project.screenShots track by $index" class="item" ng-src="{{screenshot}}"
                    alt="">
                </div>
                <p ng-bind-html="project.description | nl2br" style="text-align: start; padding-bottom: 10px"></p>
                <div class="row">
                  <span class="label label-success custom-label" ng-repeat="tech in project.techUsed">{{tech}}</span>
                </div>
                <button type="button" class="btn btn-primary btn-lg close-btn" data-dismiss="modal"><i class="fa fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6" style="text-align: left">
          <span class="copyright">Coded with fun by <a href="https://www.linkedin.com/in/tobi-akerele/" target="_blank"
              class="theme-author">Tobi Akerele</a>.&nbsp;All Rights Reserved</span>
        </div>
        <div class="col-md-6">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/in/tobi-akerele/"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a target="_blank" href="https://play.google.com/store/apps/dev?id=5723748668859818323"><i
                  class="fa fa-android"></i></a></li>
            <li class="list-inline-item"><a target="_blank" href="https://github.com/tobidae"><i class="fa fa-github"></i></a></li>
            <li class="list-inline-item"><a target="_blank" href="http://stackoverflow.com/users/2864560/tobidae"><i
                  class="fa fa-stack-overflow"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
  <script src="vendor/owl.carousel/owl.carousel.min.js"></script>

  <!-- Custom scripts for this template -->
  <!-- inject:js -->
  <script src="js/app.min.js"></script>
  <!-- endinject -->

</body>

</html>